/*-----zeroStyleStart-----*/

/*для обнуления всех отступов web-браузера*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*меняет подсчёт ширины блока так, чтобы нам было удобнее верстать*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*убираем линии обводки у некоторых браузеров*/
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

/*делает значения тегов блочными*/
nav,
footer,
header,
aside {
  display: block;
}

/*уравнивают поведение шрифтов и элементов для разных браузеров,
в том числе запрещают увеличение шрифта самовольно*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*просим наследовать семейство шрифта,
т.к по умолчанию данные теги не наследуют семейство шрифта*/
input,
button,
textarea {
  font-family: inherit;
}

/*убирают некоторые особенности в разных браузерах*/
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*обнуляем все заголовки*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----zeroStyleEnd-----*/

body {
  background-color: rgb(238, 238, 238);
  min-width: 1200px;
}

.container_main {
  max-width: 1220px;
  min-height: 100vh;
  margin: 14px auto;
  padding: 3px;
}

.top_container,
.center_container,
.bottom_container {
  max-width: 1180px;
  min-height: auto;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

/*-----topStart-----*/

.top_1,
.top_2,
.top_3 {
  min-width: 388px;
  min-height: 200px;
  background-color: rgb(196, 231, 231);
  border-radius: 4px;
}

.top_1 {
  background-color: rgb(201, 218, 201);
  border: 5px solid rgb(115, 136, 115);
  border-radius: 12px;
}

.top_2 {
  transition: all 0.2s linear;
  border: 4px solid rgb(153, 201, 201);
}
.top_2:hover {
  opacity: 0;
}

.top_3 {
  background: url(../img/girl_1.jpg) -30px -220px /420px 420px no-repeat;
  box-shadow: 8px 5px 3px lightgray;
}

/*-----topEnd-----*/

/*-----centerStart-----*/

.center_left,
.center_right {
  min-height: 200px;
  border-radius: 4px;
  margin-top: 20px;
}

.center_left {
  min-width: 388px;
  background: url(../img/girl_2.jpg) -120px -102px / 580px 580px no-repeat;
}

.center_right {
  min-width: 742px;
  background-color: rgb(218, 178, 195);
  border: 4px solid rgb(201, 148, 170);
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.right_block_1,
.right_block_2 {
  min-width: 350px;
  max-height: auto;
}

.right_block_1 {
  background-color: rgb(163, 106, 114);
  border-radius: 4px;
}

.right_block_2_top,
.right_block_2_bottom {
  min-width: auto;
  min-height: 45%;
  background-color: rgb(179, 116, 116);
  border: 4px solid rgb(150, 85, 85);
  border-radius: 4px;
  padding: 6px;
}

.right_block_2_bottom {
  margin-top: 18px;
}

/*-----centerEnd-----*/

/*-----bottomStart-----*/

.bottom_t,
.bottom_b {
  min-width: 388px;
  min-height: 422px;
  margin-top: 20px;
}

.bottom_t {
  background-color: rgb(224, 195, 141);
  border: 4px solid rgb(184, 160, 117);
  border-radius: 4px;
}

.bottom_b {
  min-width: 742px;
  display: flex;
  justify-content: space-around;
}

.bottom_b_left,
.bottom_b_right {
  min-width: 320px;
  min-height: auto;
  background-color: rgb(185, 155, 98);
  border: 5px solid rgb(146, 120, 71);
  border-radius: 4px;
}

.bottom_b_left {
  background: url(../img/sad_5.jpg) 0px -80px / cover no-repeat;
  border: 3px solid rgb(209, 202, 202);
}

/*-----bottomEnd-----*/
